node_modules
.DS_Store

# Build outputs
/build
/client/dist
/server/dist

# Database
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/prisma/dev.db
/prisma/dev.db-journal
database.sqlite

# Environment
.env
.env.*
!.env.example

# Lock files
yarn.lock
pnpm-lock.yaml

# Extensions
/extensions/*/dist

# Shopify CLI
.shopify/*
.shopify.lock

# Archive
_archive_python/
